@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* General Styles */
html {
    width: 100%;
    overflow-x: hidden;
    overscroll-behavior: none;
}

body {
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b5b5b5;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
    align-items: center;
    overscroll-behavior: none;
    overflow-x: hidden;
}

.container {
    background-color: white;
    padding: 80px 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    flex: 1;
}

/* Header Styles */
.header-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.header-title {
    font-size: 48px;
    font-weight: 400;
    color: #333;
    margin: 0;
    font-family: 'Inter', 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 100%;  
    letter-spacing: -1px;
}

.header-description {
    font-size: 18px;
    color: #666;
    padding: 0 12px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    max-width: 650px;
}

.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    align-items: center;
    transform: scale(1.5);
}
.header-icon img {
    width: 72px;
    height: 72px;
}

/* Donate Section Styles */
.donate-section {
    width: 100%;
    justify-content: center;
    margin: -12px auto 0;
    display: flex;
    gap: 12px;
}

.donate-button-democratic,
.donate-button-republican {
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    max-width: 45%;
}

.donate-button-democratic {
    background-color: #1128d9;
}

.donate-button-democratic:hover {
    background-color: #000d7a;
}

.donate-button-republican {
    background-color: #FF0000;
}

.donate-button-republican:hover {
    background-color: #ff5050;
}

/* Party colors */
.democrat {
    color: #0015BC;
}

.republican {
    color: #FF0000;
}

.democrat img, .republican img {
    width: 48px; 
    height: auto;
}

/* Balance section styles */
.balance-section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto; 
}

.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.circle-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.republican-circle {
    margin-left: -32px;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #666;
}

.arrow {
    padding: 0 24px;
}

.arrow svg {
    width: 32px;
    height: 32px;
    fill: #666;
}

.right-arrow svg {
    transform: rotate(90deg);
}

.down-arrow svg {
    transform: rotate(180deg);
}

.down-arrow {
    display: none;
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    max-width: 25vw;
    max-height: 25vw;
}

.circle p {
    font-size: 14px;
    margin: 0;
    text-align: center;
    padding: 0 5px;
}

.circle span {
    font-size: 16px;
    margin-top: 5px;
}

.democrat-circle {
    border: 1px dashed #0015BC; 
    color: #0015BC;
}

.republican-circle {
    border: 1px dashed #FF0000;     
    color: #FF0000;
}

.charity-circle {
    border: 1px dashed #47a56d; 
    color: #47a56d;
}

.remaining-circle {
    border: 1px dashed #c29d25; 
    color: #c29d25;
}

/* Countdown styles */
.countdown-container {
    text-align: center;
    margin: -36px 0;
}

.countdown-text {
    font-size: 14px;
    text-transform: uppercase;
    color: #676767;
}

#days-remaining {
    color: #3b8458;
}

/* Common Section Styles */
.description-section,
.charities-section,
.team-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 12px;
}

.description-header-container,
.charities-header-container,
.about-header-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-bottom: 24px;
}

.description-title,
.charities-title,
.about-title {
    font-size: 32px;
    font-weight: 400;
    color: #333;
    margin: 0;
    text-align: center;
}

.description-description,
.charities-description,
.about-description {
    font-size: 18px;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    padding: 0 12px;
}

/* Grid Styles */
.charities-grid,
.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding: 24px 0;
}

.charity-item,
.team-member {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 300px; 
    max-width: 400px;
}

.charity-image-container,
.team-member-photo {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 24px;
}

.charity-image {
    width: 140px;
    object-fit: contain;
}


.charity-item:nth-child(2) .charity-image {
    scale: .7;
}

.team-member-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.charity-item h3,
.team-member h3 {
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.charity-item p,
.team-member p {
    font-size: 16px;
    color: #666;
    margin-bottom: 16px; 
}

.charity-item a,
.charity-link {
    color: #3b8458; 
    font-weight: 600;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-bottom 0.3s;
}

.charity-item a:hover,
.charity-link:hover {
    color: #1d6f4b;
    /* border-bottom: 2px solid #1d6f4b; */
}

.charity-image-container {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 24px;
}

.charity-image {
    width: 150px;
    height: auto;
    object-fit: contain;
}

.charities-grid .charity-item:nth-child(2) .charity-image {
    width: 150px;
    height: 150px;
}

/* FAQ Section Styles */
.faq-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 24px;
    margin-bottom: 50px;
}

.faq-section-container h2 {
    font-size: 24px;
    color: #333;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.accordion {
    font-size: inherit;
    padding: 0 24px;
    width: 48%;
    text-align: left;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.accordion__item {
    border-bottom: 1px solid #ddd;
}

.accordion__item:last-child {
    border-bottom: none;
}

.accordion__input {
    display: none;
}

.accordion__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    cursor: pointer;
}

.accordion__title {
    font-size: 18px;
    color: #333;
    margin: 0;
}

.accordion__opener {
    display: inline;
    transform: scaleY(.8);
    font-size: 12px;
    color: #a4a4a4;
}

.accordion__opener i {
    display: inline-block;
    transition: transform .2s ease;
}

.accordion__description {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.accordion__description p {
    padding: 0 0 15px 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
    color: #666;
}

.accordion__input:checked + .accordion__head .accordion__opener i {
    transform: rotate(180deg);
}

.accordion__input:checked ~ .accordion__description {
    max-height: 600px;
    transition: max-height 0.2s ease-in;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 24px 0;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

/* Media Queries */
@media (min-width: 768px) {
    .circle-container {
        flex-direction: row;
    }
  
.about-description {
    font-size: 18px;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 40px;
}

    .arrow-container {
        flex-direction: column;
    }

    .right-arrow {
        display: block;
    }

    .down-arrow {
        display: none;
    }
}

@media (max-width: 900px) {
    .charities-grid,
    .team-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .circle-container {
        flex-direction: column;
    }

    .arrow-container {
        flex-direction: column;
    }

    .right-arrow {
        display: none;
    }

    .down-arrow {
        display: block;
    }

    .circle-row {
        align-items: center;
    }

    .circle {
        width: 40vw;
        height: 40vw;
        max-width: 200px;
        max-height: 200px;
        margin-bottom: 16px;
    }

    .accordion {
        width: 80%;
        padding: 0 16px;
    }

    .accordion__title {
        font-size: 16px;
    }

    .accordion__description p {
        font-size: 14px;
    }
}
  
.charity-link:hover {
    color: #3b8458;
    text-decoration: none;
    /* border-bottom: 2px solid #3b8458;  */
}

@media (max-width: 600px) {
    .charities-grid,
    .team-grid {
        grid-template-columns: 1fr;
    }

    .team-member {
        max-width: none;
    }

    .charity-link {
        font-size: 18px;
        display: block;
        text-align: center;
        padding: 12px 0;
    }
}

.accordion__input {
    display: none;
}

.accordion__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    cursor: pointer;
}

.accordion__title {
    font-size: 18px;
    color: #333;
    margin: 0;
}

.accordion__opener {
    display: inline;
    transform: scaleY(.8);
    font-size: 12px;
    color: #a4a4a4;
}

.accordion__opener i {
    display: inline-block;
    transition: transform .2s ease;
}

.accordion__description {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.accordion__description p {
    padding: 0 0 15px 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
    color: #666;
}

.accordion__input:checked + .accordion__head .accordion__opener i {
    transform: rotate(180deg);
}

.accordion__input:checked ~ .accordion__description {
    max-height: 600px;
    transition: max-height 0.2s ease-in;
}

.footer {
    background-color: #0e1b20;
    padding: 50px;
    text-align: center;
    color: #f0e4ce;
    font-family: 'Arial', sans-serif;
}

.footer-content h2 {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
}

.footer-content p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #a6a6a6;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-link {
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #000000;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.social-link:hover {
    background-color: #1a5a6b;
    color: #fff;
}

/* Media Queries */
@media (min-width: 768px) {
    .circle-container {
        flex-direction: row;
    }

    .arrow-container {
        flex-direction: column;
    }

    .right-arrow {
        display: block;
    }

    .down-arrow {
        display: none;
    }
}

@media (max-width: 900px) {
    .charities-grid,
    .team-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .circle-container {
        flex-direction: column;
    }

    .arrow-container {
        flex-direction: column;
    }

    .right-arrow {
        display: none;
    }

    .down-arrow {
        display: block;
    }

    .circle-row {
        align-items: center;
    }

    .circle {
        width: 40vw;
        height: 40vw;
        max-width: 200px;
        max-height: 200px;
        margin-bottom: 16px;
    }

    .accordion {
        width: 80%;
        padding: 0 16px;
    }

    .accordion__title {
        font-size: 16px;
    }

    .accordion__description p {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .charities-grid,
    .team-grid {
        grid-template-columns: 1fr;
    }

    .team-member {
        max-width: none;
    }

    .charity-link {
        font-size: 18px;
        display: block;
        text-align: center;
        padding: 12px 0;
    }
}

.charity-item a {
    color: #3b8458; 
    font-weight: 600;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-bottom 0.3s;
}

.charity-item a:hover {
    color: #1d6f4b;
    border-bottom: 2px solid #1d6f4b;
}

@media only screen and (max-width: 600px) {
    .charity-link {
        font-size: 18px;
        display: block;
        text-align: center;
        padding: 12px 0;
    }
}

.logo-svg {
    width: 50px;
    height: 50px;
}

.about-us-description {
    font-size: 18px;
    color: #666;
    max-width: 800px;
    margin: 0 24px 40px;
    text-align: center;
    line-height: 1.6;
}

.twitter-link:hover {
    color: #1DA1F2;
}

.github-link:hover {
    color: #333;
}

.email-link:hover {
    color: #EA4335;
}
.systemic-altruism-section {
    margin-top: 16px;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    color: #666;
    text-align: center;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
}

.systemic-altruism-section p {
    margin-bottom: 16px;
}

.donate-button-systemic {
    background-color: #8b00d6;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.donate-button-systemic:hover {
    background-color: #8b00d6;
}